<div id="details-view">
<div ng-show="student.isEditable==true">
<form class="form">
<div class="form-group"><div class="col-lg-3"><input class="form-control" ng-model="student.name" /></div></div>
<div class="form-group"><div class="col-lg-3"><input class="form-control" ng-model="student.email" /></div></div>
<div class="form-group"><div class="col-lg-3"><input class="form-control" ng-model="student.number" /></div></div>
<div class="form-group"><div class="col-lg-3"><button class="btn btn-warning btn-block" ng-click="update(student)">Save</button></div></div>
</form>
</div>
<div ng-hide="student.isEditable==true">
<div class="col-lg-3">{{student.name}}</div>
<div class="col-lg-3">{{student.email}}</div>
<div class="col-lg-3">{{student.number}}</div>
<div class="col-lg-2"><button class="btn btn-danger btn-block" ng-click="remove(student)">Remove</button></div>
<div class="col-lg-1"><button class="btn btn-warning btn-block" ng-click="edit(student)">Edit</button></div>
</div>
</div>